@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  font-family: 'Orbitron', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-nav{
  background-color: #000d2f;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
}
.custom-nav .nav-brand{
  text-decoration: none;
  margin: 0px 8px;
  padding: 16px 0px;
  font-weight: 700;
  color: #07b7da;
}
.custom-nav .nav-btn{
  margin: auto 0px;
}
.btn{
  padding: 6px 14px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  border:none;
  background-color: #07b7da;
}
.modal-overlay{
  background-color: rgba(0, 17, 51, 0.9);
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: 10000000000000000000000000000000000000; */
}
.modal-box{
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: #000d2f;
  border-radius: 12px;
  display: flex;
    flex-direction: column;
}
.modal-box .modal-title{
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  background-color: #00247e;
  color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.modal-close{
  margin: auto 0px;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  /* font-weight: 600; */
}
.modal-box .modal-body{
  padding: 12px;
  /* height: 100%; */
  flex-grow: 1;
}
.wallet-option-btn{
  display: flex;
  margin: 0px auto;
  background-color: transparent;
  color: #fff;
  outline: none;
  border:none;
  flex-direction: column;
  justify-content: center;
}
.wallet-option-btn .wallet-logo{
  margin:0px auto;
}
.wallet-option-btn .wallet-name{
  font-weight: 700;
  margin: 0px auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;
}
.d-flex{
  display: flex;
}
.d-flex.contents-center{
  justify-content: center;
}
.d-flex.flex-column{
  flex-direction: column;
}
.h-100{
  height: 100%;
}
.mb-3{
  margin-bottom: 24px;
}